{% extends 'base.html.twig' %}

{% block title %}Inscription SkullKing{% endblock %}

{% block body %}
    <div id="container-form_register">
        <div id="form_register">
            <h1>Intégrer la piraterie dès maintenant</h1>
            <div id="login_redirect"><a href="/login" class="btn">Déja Pirate? Connectez vous ! </a></div>
            {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_label(registrationForm.name, 'Nom de pirate', {'label_attr': {'class': 'required'}}) }}
                {{ form_widget(registrationForm.name, {'attr': {'class': 'form_input'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.email, 'Adresse e-mail', {'label_attr': {'class': 'required'}}) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form_input'}}) }}
                {% if form_errors(registrationForm.email) %}
                    <div class="error-banner">
                        {{ form_errors(registrationForm.email) }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'required'}}) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form_input'}}) }}
            </div>

            <button type="submit" id="btn-register">S'inscrire</button>
            {{ form_end(registrationForm) }}
            <h4>Le mot de passe doit contenir au moins une majuscule, un chiffre et un caractère
                spécial(_,$,!,%,*,?,&,@) et au moins de 8 caractères.</h4>
        </div>
    </div>
{% endblock %}
