{% extends 'base.html.twig' %}

{% block title %}Hello GameRoomController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="example-wrapper">
    <h1>Salutation la piraterie</h1>

    <div id="container-game-room-list">
        {{ form(form) }}

        {% if isEmpty == true %}
            <p>Il n'y a pas de salon de jeux pour le moment.</p>
        {% endif %}
        <ul>
            {% for room in gameRooms %}
                <li>{{ room.id }}
                    {{ room.createdAt| date("Y/m/d") }}
                    {% if (room.users| length < 6) and (room.containsCurrentUser == false) %}
                        <form id="{{ room.id }}" action="{{ path("join_game_room", { id: room.id}) }}" method="POST">
                            <button type="submit"> REJOINDRE</button>
                        </form>
                    {% endif %}
                    {% if room.containsCurrentUser == true %}
                        <a href="{{ path('waiting_game_room', { id: room.id }) }}">Aller dans la Salle de jeux</a>
                    {% endif %}

                </li>

            {% endfor %}
        </ul>
    </div>

    <div class="row">
        <script src="{{ asset('js/index.js') }}"></script>
    </div>

    {% endblock %}
